{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{% endblock %}